.NavGrid {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.Navitems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 6.8rem;
    z-index: 2;

    padding-right: 10rem;

}
.Navitem {
    color: white;
    font-size: 1.6rem;
    font-family: 'Montserrat';
    font-weight: 600;
}



.item {
    margin: 0px 3.7rem;
    transition: border ease 600ms;
    padding-bottom: 0.4rem;
    z-index: 2;
    border-bottom: 2px solid transparent;

}

.item:hover {
    border-bottom: 2px solid white;
}

.logo {
    font-family: 'Rota';
    font-style: normal;
    font-weight: 800;
    font-size: 5rem;
}


.titleWrapper {
    padding-top: 5rem;
    padding-left: 10rem;
}

.socials {
}

.social {
    opacity: 0.8;
    margin: 0px 1rem;
    transition: all ease 600ms;
}

.social:hover {
   opacity: 1;
}

.active {
    margin: 0px 3.7rem;
    border-bottom: 2px solid white;
    padding-bottom: 0.4rem;
    z-index: 2;
}