.picture {
    margin-top: 60px;
    margin-left: 160px;
    opacity: 0;
    z-index: 100;
    position: absolute;
    cursor: pointer;
}


.pictureLatest {
    z-index: -1;
    position: absolute;

}
.pictureNewest {
    z-index: -1;
    filter: blur(4px) drop-shadow(-2px -10px 25px rgba(0, 0, 0, 0.29));
    position: absolute;
    z-index: -2;
    transform: rotate(-15deg);
    right: .03px;
    bottom: -550.1px;
}

.homeWrapper {
    overflow: hidden;
    display: flex;
}


.footerWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 9rem;
}

.buttonLeft {
    background: none;
    border: none;
    margin-left: 10.2rem;

}

.buttonRight {
    background: none;
    border: none;
    margin-right: 10.2rem;

}

.spinner {
    overflow: hidden;
    height: 67vh;
}

