.title {
    font-family: 'Rota';
    font-weight: 900;
    font-size: 7rem;
    line-height: 8.7rem;
    width: 50rem;
}

.tagline {
    font-family: 'Rota';
    font-weight: normal;
    font-size: 2.3rem;
    line-height: 2.9rem;
    color: #C6C6C6;
}

.wrapper {
    display: flex;
    margin-top: 22.2rem;
    z-index: 3;
}

.line {
    margin-top: 3rem;

}

.text  {
    margin-left: 3.1rem;
}

@media only screen and (min-width: 320px) { 
    .title {
        font-size: 2.5rem;
        line-height: 2.7rem;
        width: 25rem;
        z-index: 10;
        margin-top: 10rem;
    }
    .tagline {
        font-size: 2rem;
        line-height: 2.9rem;
    }
    
    .wrapper {
        margin-top: 22.2rem;
    }
    
    .line {
        margin-top: 0.5rem;  
        display: inherit;
  
    }
    
    .text  {
        margin-left: -5rem;
    }

    .stroke {
        stroke-width: 0px;
    }

}
@media only screen and (min-width: 410px) { 
    .title {
        font-size: 2.5rem;
        line-height: 2.7rem;
        width: 25rem;
        z-index: 10;
        margin-top: 18rem;
    }
    .tagline {
        font-size: 2rem;
        line-height: 2.9rem;
    }
    
    .wrapper {
        margin-top: 22.2rem;
    }
    
    .line {
        margin-top: 0.5rem;  
        display: inherit;
  
    }
    
    .text  {
        margin-left: -5rem;
    }

    .stroke {
        stroke-width: 0px;
    }

}

@media only screen and (min-width: 500px) { 
    .title {
        font-size: 3.5rem;
        line-height: 3.7rem;
        width: 25rem;
        z-index: 10;
        margin-top: 18rem;
    }
    .tagline {
        font-size: 2rem;
        line-height: 2.9rem;
    }
    
    .wrapper {
        margin-top: 22.2rem;
    }
    
    .line {
        margin-top: 0.5rem;  
        display: inherit;
  
    }
    
    .text  {
        margin-left: -5rem;
    }

    .stroke {
        stroke-width: 0px;
    }

}

@media only screen and (min-width: 650px) { 
    .title {
        margin-top: 19rem;
        font-size: 3rem;
        line-height: 3.2rem;
        width: 25rem;
        z-index: 10;

    }
    .tagline {
        font-size: 2rem;
        line-height: 2.9rem;
    }
    
    .wrapper {
        margin-top: 22.2rem;
    }
    
    .line {
        margin-top: 0.5rem;  
        display: inherit;
  
    }
    
    .text  {
        margin-left: 2.1rem;
    }

    .stroke {
        stroke-width: 0px;
    }

}

@media only screen and (min-width: 768px) { 
    .title {
                margin-top: unset;
        font-size: 3.5rem;
        line-height: 3.7rem;
        width: 25rem;
    }
    .tagline {
        font-size: 2rem;
        line-height: 2.9rem;
    }
    
    .wrapper {
        margin-top: 22.2rem;
    }
    
    .line {
        margin-top: 1.5rem; 
        display: inherit;
   
    }
    
    .text  {
        margin-left: 2.1rem;
    }

    .stroke {
        stroke-width: 3px;
    }
}


@media only screen and (min-width: 900px) {
    .title {
        margin-top: unset;
        font-size: 3.5rem;
        line-height: 3.7rem;
        width: 25rem;
    }
    
    .tagline {
        font-size: 2rem;
        line-height: 2.9rem;
    }
    
    .wrapper {
        margin-top: 22.2rem;
    }
    
    .line {
        margin-top: 1.5rem; 
        display: inherit;
   
    }
    
    .text  {
        margin-left: 2.1rem;
    }

    .stroke {
        stroke-width: 3px;
    }

}

@media only screen and (min-width: 1150px) { 
    .title {
         margin-top: unset;
        font-size: 6rem;
        line-height: 8.7rem;
        width: 35vw;
    }
    
    .tagline {
        font-size: 2.3rem;
        line-height: 2.9rem;
    }
    
    .wrapper {
        margin-top: 22.2rem;
    }
    
    .line {
        margin-top: 3rem;
        display: inherit;

    
    }
    
    .text  {
        margin-left: 2.1rem;
    }

    .stroke {
        stroke-width: 6px;
    }

}

@media only screen and (min-width: 1600px) { 
    .title {
        font-size: 7rem;
        line-height: 8.7rem;
        width: 50rem;
    }
    
    .tagline {
        font-size: 2.3rem;
        line-height: 2.9rem;
    }
    
    
    
    .wrapper {
        margin-top: 22.2rem;
    }
    
    .line {
        margin-top: 3rem;
        display: inherit;

    }
    
    .text  {
        margin-left: 3.1rem;
    }

    .stroke {
        stroke-width: 6px;
    }
}
